<p id="notice"><%= notice %></p>

<p>
  <b>Country:</b>
  <%= @product_link.country_id %>
</p>

<p>
  <b>Url:</b>
  <%= @product_link.url %>
</p>


<%= link_to 'Edit', edit_product_link_path(@product_link) %> |
<%= link_to 'Back', product_links_path %>
