<h1>Listing product_jps</h1>

<table>
  <tr>
    <th>Product</th>
    <th>Name</th>
    <th>Short desc</th>
    <th>Long desc</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @product_jps.each do |product_jp| %>
  <tr>
    <td><%= product_jp.product_id %></td>
    <td><%= product_jp.name %></td>
    <td><%= product_jp.short_desc %></td>
    <td><%= product_jp.long_desc %></td>
    <td><%= link_to 'Show', product_jp %></td>
    <td><%= link_to 'Edit', edit_product_jp_path(product_jp) %></td>
    <td><%= link_to 'Destroy', product_jp, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Product jp', new_product_jp_path %>
