<h1>Listing shop_home_links</h1>

<table>
  <tr>
    <th>Country</th>
    <th>Url</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @shop_home_links.each do |shop_home_link| %>
  <tr>
    <td><%= shop_home_link.country_id %></td>
    <td><%= shop_home_link.url %></td>
    <td><%= link_to 'Show', shop_home_link %></td>
    <td><%= link_to 'Edit', edit_shop_home_link_path(shop_home_link) %></td>
    <td><%= link_to 'Destroy', shop_home_link, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Shop home link', new_shop_home_link_path %>
