<p id="notice"><%= notice %></p>

<p>
  <b>Country:</b>
  <%= @shop_home_link.country_id %>
</p>

<p>
  <b>Url:</b>
  <%= @shop_home_link.url %>
</p>


<%= link_to 'Edit', edit_shop_home_link_path(@shop_home_link) %> |
<%= link_to 'Back', shop_home_links_path %>
