<h1>Listing country_jps</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @country_jps.each do |country_jp| %>
  <tr>
    <td><%= country_jp.name %></td>
    <td><%= link_to 'Show', country_jp %></td>
    <td><%= link_to 'Edit', edit_country_jp_path(country_jp) %></td>
    <td><%= link_to 'Destroy', country_jp, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Country jp', new_country_jp_path %>
