<%= form_tag({:controller => "shops", :action => "create"},{:multipart => true}) do  %>
   <% if @shop.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shop.errors.count, "error") %> prohibited this shop from being saved:</h2>

      <ul>
      <% @shop.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <p>所在地</p>
  <label>国名</label>
  <select id="shop_country_id" name="shop[country_id]">
    <%= options_for_select(MasterTable::CountryJp::Options)%>
  </select>
  <label>県名</label>
  <select id="shop_prefecture_id" name="shop[prefecture_id]">
    <%= options_for_select [["北海道", 1]]%>
  </select>
  <label>住所</label>
  <input id="shop_address" name="shop[address]" type="text" value="住所">
  <div class="field">
     <label>ブランド名</label>
     <input id="shop_name" name="shop[name]" type="text" value="名前" />
  </div>
  <div class="field">
     <label>ホームページ</label>
     <input id="shop_name" name="shop[home_url]" type="text" value="http://" />
  </div>
  <div class="field">
     <label>オンラインショップページ</label>
     <input id="shop_name" name="shop[online_url]" type="text" value="http://" />
  </div>
  <div class="actions">
    <%= submit_tag "保存"%>
  </div>
<% end %>
