<style>
#map {
  float: left;
}
</style>
<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDxnvCvMd1zdl3DVbkU9N5lcN_lK6v_Osw&sensor=false"></script>
<script>
<!--
var map;
var marker;
var geocoder;

function initialize() {
  var mapOptions = {
    center: new google.maps.LatLng(34.397, 135.644),
    zoom: 17,
    mapTypeId: google.maps.MapTypeId.ROADMAP
  };
  // 地図の設定
  map = new google.maps.Map(document.getElementById("map"),mapOptions);
  marker = new google.maps.Marker({
    position: map.getCenter(),
    map: map,
    title: 'zoom Click',
    draggable: true,
    size: new google.maps.Size(120, 34)
  });

  // マーカーイベントのリスナー
  google.maps.event.addListener(marker, "dragend", function(){
    setLatLng(marker);
    map.setCenter(marker.getPosition());
  });

  // マーカーの座標をセット
  setLatLng(marker);
}

function setLatLng(marker){
  var p = marker.getPosition();
  $("#shop_latitude").val(p.lat());
  $("#shop_longitude").val(p.lng());
}

function setMarkerFromAddress(){
  var state = $("#shop_state_id option:selected").text();
  var address = state + $("#shop_address").val();

  geocoder = new google.maps.Geocoder();

  geocoder.geocode({"address": address}, function(results, status){
console.log(results)
    map.setCenter(results[0].geometry.location);
    marker.setPosition(results[0].geometry.location);
    setLatLng(marker);
  });
}

$(function(){
   initialize();
   $("#shop_address").on('change', function(){
     setMarkerFromAddress();
   });
});
-->
</script>
<%= form_tag({:controller => "shops", :action => "create"}) do  %>
   <% if @shop.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shop.errors.count, "error") %> prohibited this shop from being saved:</h2>

      <ul>
      <% @shop.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <table class="table table-striped span8">
    <tr>
      <th>住所</th>
      <td>
        <%= select 'shop', 'country_id', options_for_select(MasterTable::CountryJp::Options)%>
      </td>
      <td>
        <%= select 'shop', 'state_id', @states.map{|state| [state.name, state.id]}%>
      </td>
    </tr>
    <tr>
      <th></th>
      <td>
        <input id="shop_address" class="x-large" name="shop[address]" type="text" value="<%= @shop.address%>" />
      </td>
    </tr>
    <tr>
     <th>ブランド名</th>
     <td>
       <input id="shop_name" name="shop[name]" type="text" value="<%= @shop.name%>" />
     </td>
    </tr>
    <tr>
     <th>ホームページ</th>
     <td>
       <input id="shop_name" name="shop[home_url]" type="text" value="<%= @shop.home_url%>" />
     </td>
    </tr>
    <tr>
      <th>オンラインショップページ</th>
      <td>
        <input id="shop_name" name="shop[online_url]" type="text" value="<%= @shop.online_url%>" />
      </td>
    </tr>
  </table>
  <div id="map" style="width:500px;height:500px;"></div>
  <%= hidden_field "shop", "latitude"%>
  <%= hidden_field "shop", "longitude"%>
  <div class="actions">
    <%= submit_tag "保存"%>
  </div>
<% end %>
