<style>
#map {
  float: left;
}
</style>
<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDxnvCvMd1zdl3DVbkU9N5lcN_lK6v_Osw&sensor=false"></script>
<script>
<!--
var map;
var marker;
var geocoder;

function initialize() {
  var mapOptions = {
    center: new google.maps.LatLng(34.397, 135.644),
    zoom: 17,
    mapTypeId: google.maps.MapTypeId.ROADMAP
  };
  // 地図の設定
  map = new google.maps.Map(document.getElementById("map"),mapOptions);
  marker = new google.maps.Marker({
    position: map.getCenter(),
    map: map,
    title: 'zoom Click',
    draggable: true,
    size: new google.maps.Size(120, 34)
  });

  // マーカーイベントのリスナー
  google.maps.event.addListener(marker, "dragend", function(){
    setLatLng(marker);
    map.setCenter(marker.getPosition());
  });

  // マーカーの座標をセット
  setLatLng(marker);
}

function setLatLng(marker){
  var p = marker.getPosition();
  $("#shop_latitude").val(p.lat());
  $("#shop_longitude").val(p.lng());
}

function setMarkerFromAddress(){
  var state = $("#shop_state_id option:selected").text();
  var address = state + $("#shop_address").val();

  geocoder = new google.maps.Geocoder();

  geocoder.geocode({"address": address}, function(results, status){
    if(results){
      map.setCenter(results[0].geometry.location);
      marker.setPosition(results[0].geometry.location);
      setLatLng(marker);
    } else {
      // if no results returned
    }
  });
}


$(function(){
   initialize();
   $("#shop_address").on('change', function(){
     setMarkerFromAddress();
   });
});
-->
</script>
<%= form_tag({:controller => "shops", :action => "create"}) do  %>
   <% if @shop.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shop.errors.count, "error") %> prohibited this shop from being saved:</h2>

      <ul>
      <% @shop.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<script>
$(function(){
  var SearchState = {};
  SearchState = {
    search: function(country){
      var country_id = country.val();
      $.ajax({
        state: "POST",
        url: "/api/get_state_from_country/",
        dataType: "html",
        data: {country_id: country_id},
        success: function(html){
          country.parent().append(html)
        },
        error: function() {
        }
      });
    }
  };

  $(function(){
    SearchState.search($("#shop_country_id"));
    $("#shop_country_id").on("change", function(){
      $("#shop-state").remove();
      SearchState.search($(this));
    });
  })
});
</script>
  <table class="table table-striped span8">
    <tr>
      <th><%= label :shop, :address %></th>
      <td>
        <%= select 'shop', 'country_id', @countries.map{|c| [c.name, c.id]}%>
      </td>
    </tr>
    <tr>
      <th></th>
      <td>
        <%= text_field :shop, :address, :class => "input-xxlarge", :value => @shop.address%>
      </td>
    </tr>
    <tr>
      <th><%= label :shop, :name %></th>
      <td>
        <%= text_field :shop, :name, :class => "input-xxlarge", :value => @shop.name%>
      </td>
    </tr>
    <tr>
      <th><%= label :shop, :home_url %></th>
      <td>
        <%= text_field :shop, :home_url, :class => "input-xxlarge", :value => @shop.home_url%>
      </td>
    </tr>
    <tr>
      <th><%= label :shop, :online_url %></th>
      <td>
        <%= text_field :shop, :online_url, :class => "input-xxlarge", :value => @shop.online_url%>
      </td>
    </tr>
  </table>
  <div id="map" style="width:500px;height:500px;"></div>
  <%= hidden_field "shop", "latitude"%>
  <%= hidden_field "shop", "longitude"%>
  <div class="actions">
    <%= submit_tag %>
  </div>
<% end %>
