<h1>Listing shops</h1>

<table>
  <tr>
    <th><%= label :shop, :score , Shop.human_attribute_name(:score)%></th>
    <th><%= label :shop, :country_id %></th>
    <th><%= label :shop, :state_id %></th>
    <th><%= label :shop, :address %></th>
    <th><%= label :shop, :name%></th>
    <th><%= label :shop, :home_url%></th>
    <th><%= label :shop, :online_url%></th>
    <th><%= label :shop, :longitude%></th>
    <th><%= label :shop, :latitude %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @shops.each do |shop| %>
  <tr>
    <td><%= shop.score %></td>
    <td><%= shop.country_id %></td>
    <td><%= shop.state_id %></td>
    <td><%= shop.address %></td>
    <td><%= shop.name %></td>
    <td><%= shop.home_url %></td>
    <td><%= shop.online_url %></td>
    <td><%= shop.longitude %></td>
    <td><%= shop.latitude %></td>
    <td><%= link_to 'Show', shop_path(shop.id) %></td>
    <td><%= link_to 'Edit', edit_shop_path(shop.id) %></td>
    <td><%= link_to 'Destroy', delete_shop_path(shop.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Shop', new_shop_path %>
