<p id="notice"><%= notice %></p>

<p>
  <b>Score:</b>
  <%= @shop.score %>
</p>

<p>
  <b>Country:</b>
  <%= @shop.country_id %>
</p>

<p>
  <b>State:</b>
  <%= @shop.state_id %>
</p>

<p>
  <b>Address:</b>
  <%= @shop.address %>
</p>

<p>
  <b>Name:</b>
  <%= @shop.name %>
</p>

<p>
  <b>Home url:</b>
  <%= @shop.home_url %>
</p>

<p>
  <b>Online url:</b>
  <%= @shop.online_url %>
</p>

<p>
  <b>Longitude:</b>
  <%= @shop.longitude %>
</p>

<p>
  <b>Latitude:</b>
  <%= @shop.latitude %>
</p>


<%= link_to 'Edit', edit_shop_path(@shop) %> |
<%= link_to 'Back', shops_path %>
