<style>
#shop_image_main {
  float:left;
}
#shop_image {
  float:left;
}
.guide {
  clear:both;
}
#new_product_btn {
  float:right;
}
</style>
<p id="notice"><%= notice %></p>

<h1><%= @shop.name %></h1>
<%= button_to "商品を登録する", {:controller => 'products', :action => 'new', :shop_id => @shop.id}, {:class => "btn btn-success", :id => "new_product_btn"} %>
<%= render :partial => 'shop_review_box_main', :locals => {:review => @shop_main_review}%>
<%- if @shop_main_image -%>
  <div id="shop_image_main">
    <%= image_tag @shop_main_image.shop_review_image.thumb("500x400#").url%>
  </div>
<%- end -%> 
<div id="shop_image">
  <%- if @shop_images.present? -%>
    <% @shop_images.each do |shop_image| %>
      <%= image_tag shop_image.shop_review_image.thumb("100x100#").url%>
    <%- end -%>
  <%- end -%>
</div>
<%= render :partial => '/products/shop_info_box', :locals => {:shop => @shop}%>
<%= render :partial => 'shop_product_box', :locals => {:products => @shop_products} %>
<%= render :partial => 'shop_review_box', :locals => {:reviews => @shop_reviews}%>
<div class="guide">
  <%= link_to 'Edit', edit_shop_path(@shop.id) %> |
  <%= link_to 'Back', shops_path %>
</div>
