<p id="notice"><%= notice %></p>

<h1><%= @shop.name %></h1>
<div id="shop_image">
  <%= image_tag @shop_review_image.shop_review_image.thumb("200x200#").url%>
</div>
<div id="shop_info">
  <p>所在地</p>
    <p><%= MasterTable::CountryJp::Name[@shop.country_id] %> <%= @shop.state_id %><%= @shop.address %></p>
  <a href="<%= @shop.home_url %>">ホームページ</a>
  <a href="<%= @shop.online_url %>">オンラインショップページ</a>
</div>
<div id="shop_review">
  <label>概要</label>
    <p><%= @shop_review.subject %></p>
  <label>説明</label>
    <p><%= @shop_review.comment %></p>
</div>
~
<%= link_to 'Edit', edit_shop_path(@shop.id) %> |
<%= link_to 'Back', shops_path %>
