<script>
$(function(){
  $(".show_type").on("click", function(){
    $(this).parent().find("ul").slideToggle();
  });
});
</script>
<div id="search_box">
  <div id="shop_search">
    <ul class="nav nav-list">
    <li class="nav-header">ショップから検索</li>
      <%= form_tag({controller: "search", action: "products"}) do %>
      <%= search_field_tag :search_shop%>
      <%= submit_tag t("search_word"), class: "btn"%>
      <%- end -%>
    </ul>
  </div>
  <hr />
  <div id="category_search">
    <ul class="nav nav-list">
    <li class="nav-header">カテゴリー</li>
    <%- @categories.each do |category|-%>
      <li>
        <span class="show_type">+</span>
        <%= link_to category.name, @hash_for_link.merge({category_id: category.id, type_id: nil}) %>
        <ul class="nav nav-list type_list" <%-unless @hash_for_link[:category_id].to_i == category.id-%>style="display:none;"<%- end -%>>
        <%- category_types = @types.select{|type| type.category_id == category.id}
            category_types.each do |type|-%>
          <li>
            <%= link_to type.try(:name), @hash_for_link.merge({category_id: type.category.try(:id) ,type_id: type.try(:id)})%>
          </li>
        <%- end -%>
        </ul>
      </li>
    <%- end -%>
    </ul>
  </div>
</div>
