<%
params.delete("authenticity_token")
params.delete("commit")
params.delete("utf8")
params.delete("search_shop") if params["search_shop"].blank?
params["page"] = 1

%>
<style>
#category_search li{
  list-style-type: none;
  
}
.search-title {
  color: #999999;
}
</style>
<script>
$(function(){
  $(".show_type").on("click", function(){
    console.log($(this))
    $(this).parent().find("ul").toggle();
  });
});
</script>
<div id="search_box">
  <div id="shop_search">
    <ul class="nav nav-list">
    <li class="nav-header">ショップから検索</li>
      <%= form_tag({controller: "search", action: "products"}) do %>
      <%= search_field_tag :search_shop%>
      <%= submit_tag t("search_word"), class: "btn"%>
      <%- end -%>
    </ul>
  </div>
  <hr />
  <div id="category_search">
    <ul>
    <li class="search-title">カテゴリー</li>
    <%- @categories.each do |category|-%>
      <li>
        <span class="show_type">+</span>
        <%= link_to category.name, params.merge({category_id: category.id, type_id: nil}) %>
        <ul class="nav nav-list type_list" <%-unless params[:category_id].to_i == category.id-%>style="display:none;"<%- end -%>>
        <%- category_types = @types.select{|type| type.category_id == category.id}
            category_types.each do |type|-%>
          <li>
            <%= link_to type.try(:name), params.merge({category_id: type.category.try(:id) ,type_id: type.try(:id)})%>
          </li>
        <%- end -%>
        </ul>
      </li>
    <%- end -%>
    </ul>
  </div>
  <hr />
  <div id="flavor_search">
    <ul class="nav nav-list">
    <li class="nav-header">フレーバー</li>
      <%- @flavors.each do |flavor| -%>
      <li>
        <% if flavor %>
          <%= link_to flavor.name, params.merge({:flavor_id => flavor.id}) %>
        <%- else-%>
          <%=link_to "その他", params.merge(flavor_id: 0) %>
        <%- end -%>
      </li>
      <%- end -%>
    </ul>
  </div>
</div>
