<style>
#search_box {
  float: left;
}
#order_box {
  float: right;
}
#main {
  clear:right;
  margin: 10px;
}
</style>

<%=image_tag "sweetalogo.jpg", :width => "100%"%>
<%= render :partial => 'search_box' %>
<%-
 params.delete(:score_order)
 params.delete(:updated_order)
-%>
  <div id="order_box" class="btn-group">
    <span class="btn"><%= link_to "点数順", params.merge({:order => "score"})%></span>
    <span class="btn"><%= link_to "新着順", params.merge({:order => "updated"})%></span>
  </div>
<div id="main">
  <%= paginate @products%>
  <%- if @products.present?-%>
    <%- @products.each do |product| -%>
      <h3><%= product.name %></h3>
      <p><%= product.try(:score) %></p>
      <p>
        <% if product.provider.first.present? %>
          <%= product.provider.first.price%>
        <% end %>
      </p>
      <hr />
    <%- end -%>
  <%- end -%>
</div>
