<%= form_tag({:controller => "shop_reviews", :action => "create"},{:multipart => true}) do  %>
  <% if @shop_review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shop_review.errors.count, "error") %> prohibited this shop_review from being saved:</h2>

      <ul>
      <% @shop_review.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
     <%= label :shop_review, :subject%>
     <%= text_field :shop_review, :subject, :value => @shop_review.subject, :class => "input-xxlarge"%>
  </div>
  <div class="field">
     <%= label :shop_review, :comment%>
     <%= text_area :shop_review, :comment, :value => @shop_review.comment, :class => "input-xxlarge"%>
  </div>
  <div class="field">
     <%= label_tag :shop_review_image, ShopReviewImage.model_name.human%>
     <%= file_field_tag :shop_review_image%>
  </div>
  <%= hidden_field :shop_review, :shop_id, :value => @shop_id%>
  <%= hidden_field :shop_review, :language_id, :value => MasterTable::Language::Options[I18n.locale]%>
  <div class="actions">
    <%= submit_tag "保存" %>
  </div>
<% end %>
