<%= form_for(@shop_jp) do |f| %>
  <% if @shop_jp.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shop_jp.errors.count, "error") %> prohibited this shop_jp from being saved:</h2>

      <ul>
      <% @shop_jp.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :shop_id %><br />
    <%= f.number_field :shop_id %>
  </div>
  <div class="field">
    <%= f.label :country_id %><br />
    <%= f.number_field :country_id %>
  </div>
  <div class="field">
    <%= f.label :prefecture_id %><br />
    <%= f.number_field :prefecture_id %>
  </div>
  <div class="field">
    <%= f.label :city_id %><br />
    <%= f.number_field :city_id %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :short_desc %><br />
    <%= f.text_field :short_desc %>
  </div>
  <div class="field">
    <%= f.label :long_desc %><br />
    <%= f.text_area :long_desc %>
  </div>
  <div class="field">
    <%= f.label :longitude %><br />
    <%= f.text_field :longitude %>
  </div>
  <div class="field">
    <%= f.label :latitude %><br />
    <%= f.text_field :latitude %>
  </div>
  <div class="field">
    <%= f.label :image_path %><br />
    <%= f.text_field :image_path %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
