<h1>Listing shop_jps</h1>

<table>
  <tr>
    <th>Shop</th>
    <th>Country</th>
    <th>Prefecture</th>
    <th>City</th>
    <th>Name</th>
    <th>Short desc</th>
    <th>Long desc</th>
    <th>Longitude</th>
    <th>Latitude</th>
    <th>Image path</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @shop_jps.each do |shop_jp| %>
  <tr>
    <td><%= shop_jp.shop_id %></td>
    <td><%= shop_jp.country_id %></td>
    <td><%= shop_jp.prefecture_id %></td>
    <td><%= shop_jp.city_id %></td>
    <td><%= shop_jp.name %></td>
    <td><%= shop_jp.short_desc %></td>
    <td><%= shop_jp.long_desc %></td>
    <td><%= shop_jp.longitude %></td>
    <td><%= shop_jp.latitude %></td>
    <td><%= shop_jp.image_path %></td>
    <td><%= link_to 'Show', shop_jp %></td>
    <td><%= link_to 'Edit', edit_shop_jp_path(shop_jp) %></td>
    <td><%= link_to 'Destroy', shop_jp, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Shop jp', new_shop_jp_path %>
