<p id="notice"><%= notice %></p>

<p>
  <b>Shop:</b>
  <%= @shop_jp.shop_id %>
</p>

<p>
  <b>Country:</b>
  <%= @shop_jp.country_id %>
</p>

<p>
  <b>Prefecture:</b>
  <%= @shop_jp.prefecture_id %>
</p>

<p>
  <b>City:</b>
  <%= @shop_jp.city_id %>
</p>

<p>
  <b>Name:</b>
  <%= @shop_jp.name %>
</p>

<p>
  <b>Short desc:</b>
  <%= @shop_jp.short_desc %>
</p>

<p>
  <b>Long desc:</b>
  <%= @shop_jp.long_desc %>
</p>

<p>
  <b>Longitude:</b>
  <%= @shop_jp.longitude %>
</p>

<p>
  <b>Latitude:</b>
  <%= @shop_jp.latitude %>
</p>

<p>
  <b>Image path:</b>
  <%= @shop_jp.image_path %>
</p>


<%= link_to 'Edit', edit_shop_jp_path(@shop_jp) %> |
<%= link_to 'Back', shop_jps_path %>
