<h1>Listing shop_links</h1>

<table>
  <tr>
    <th>Country</th>
    <th>Url</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @shop_links.each do |shop_link| %>
  <tr>
    <td><%= shop_link.country_id %></td>
    <td><%= shop_link.url %></td>
    <td><%= link_to 'Show', shop_link %></td>
    <td><%= link_to 'Edit', edit_shop_link_path(shop_link) %></td>
    <td><%= link_to 'Destroy', shop_link, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Shop link', new_shop_link_path %>
