<script>
  var SearchType = {};
  SearchType = {
    search: function(category){
      var category_id = category.val();
      $.ajax({
        type: "POST",
        url: "/api/get_type_from_category/",
        dataType: "html",
        data: {category_id: category_id},
        success: function(html){
          category.parent().append(html)
        },
        error: function() {
        }
      });
    }
  };

  var ProductContent={}
  ProductContent ={
    check: function(){
      
    }
  }
  $(function(){
    SearchType.search($("#product_content_category_id"));
    $("#product_content_category_id").on("change", function(){
      $("#product_type").remove();
      SearchType.search($(this));
    });
//    $(".flavors ").on("change", function(){
//      var flavor_id = $(this).attr("data-flavor_id");
//      if ($(this).find("input[type=number]").val() != 0){
//        if ($(this).find("input[type=hidden]").size() == 0) {
//        $("<input />").attr('type', 'hidden')
//                      .attr('name', "product_content[flavor_"+ flavor_id +"][flavor_id]")
//                      .attr('value', flavor_id)
//                      .appendTo($(this));
//        }
//      } else {
//        $(this).find("input[type=hidden]").remove();
//      }
//    });
  });
</script>
<style>
  #provider_currency_id {
    width:50px;
  }
  .flavors {
    display:inline;
    float: left;
  }
</style>
<%= form_tag({:controller => "products", :action => "create"}, :class => "span10") do  %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table class="table  table-bordered table-striped">
    <tr>
      <th>商品名</th>
      <td>
        <%= text_field :product, :name, :class => "input-xxlarge"%>
      </td>
    </tr>
    <%- contents = @product.try(:contents) || []
        if contents.present?
          contents.each do |content| -%>
            <%= render :partial => 'product_content_form', :locals => {:category_id => content.category_id, :flavor_id => content.flavor_id, :quantity => content.quantity} %>
          <%- end -%>
        <%- else -%>
          <%= render :partial => 'product_content_form' %>
        <%- end -%>
    <tr>
      <th class="span2">国名</th>
      <td>
        <%= select :provider, :country_id, options_for_select(MasterTable::CountryJp::Options, :selected => @provider.try(:country_id)) %>
      </td>
    </tr>
    <tr>
      <th>値段</th>
      <td>
        <span><%= MasterTable::Currency::Options(@provider.currency_id)%></span>
        <%= select :provider, :currency_id, options_for_select(MasterTable::Currency::Options, :selected => @provider.try(:currency_id)) %>
        <%= text_field :provider, :price%>
      </td>
    </tr>
    <tr>
      <th>販売ページ</th>
      <td>
        <%= url_field :provider, :url%>
      </td>
    </tr>
  </table>
  <%= hidden_field :product, :shop_id, :value => @shop_id%>
  <div class="actions">
    <%= submit_tag "保存", :class => "btn btn-success" %>
  </div>
<% end %>
