<style>
  #product_currency_id {
    width:50px;
  }
</style>
<%= form_tag({:controller => "products", :action => "create"}) do  %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<table class="table  table-bordered table-striped">
  <tr>
    <th class="span2">国名</th>
    <td>
      <%= select :product, :country_id, options_for_select(MasterTable::CountryJp::Options, :selected => @product.country_id)%>
    </td>
  </tr>
  <tr>
    <th>商品名</th>
    <td>
      <input id="product_name" name="product[name]" type="text" value="<%= @product.name %>" />
    </td>
  </tr>
  <tr>
    <th>値段</th>
    <td>
     <%= select :product, :currency_id, options_for_select(MasterTable::Currency::Options, :selected => @product.currency_id) %>
     <input id="product_price" name="product[price]" type="text" value="<%= @product.price %>" />
    </td>
  </tr>
  <tr>
    <th>カテゴリー</th>
    <td>
      <%= select :product_content, :category_id, options_for_select(MasterTable::Category::NAME.invert) %>
      <%= select :product_content, :type_id, options_for_select(MasterTable::CountryJp::Options, :selected => @product.country_id)%>
    </td>
  </tr>
  <tr>
    <th>内容</th>
    <td>
      <%- MasterTable::CountryJp::Options.each do |key, value| -%>
        <%= check_box :product_content, :flavor_id, {}, value, false%>
        <%= key %>
        <%= select :product_content, :quantity, (1..100).to_a %>
      <%- end -%>
    </td>
  </tr>
  <tr>
    <th>販売ページ</th>
    <td>
      <input id="product_url" name="product[url]" type="text" value="<%= @product.url %>" />
    </td>
  </tr>
</table>
  <input id="product_shop_id" name="product[shop_id]"type="hidden" value=<%=@shop_id %>>
  <div class="actions">
    <%= submit_tag "保存" %>
  </div>
<% end %>
