<%= form_tag({:controller => "products", :action => "create"}) do  %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <label>国名</label>
  <select id="product_country_id" name="product[country_id]">
    <%= options_for_select(MasterTable::CountryJp::Options)%>
  </select>
  <div class="field">
     <label>商品名</label>
     <input id="product_name" name="product[name]" type="text" value="名前" />
  </div>
  <div class="field">
     <label>販売ページ</label>
     <input id="product_url" name="product[url]" type="text" value="http://" />
  </div>
  <div id="price">
     <label>値段</label>
     <select id="product_currency_id" name="product[currency_id]">
       <%= options_for_select(MasterTable::Currency::Options)%>
     </select>
     <input id="product_price" name="product[price]" type="text" value="値段" />
  </div>
  <div class="actions">
    <%= submit_tag "保存" %>
  </div>
<% end %>
