<%-
  #locals
  category_id ||= nil
  quantity ||= nil
-%>
<script>
$(function(){
  $("#flavor_add").on('click', function(){
    $(this).attr("disabled", true);

  });
});
</script>
<tr>
  <th><%= label :product_content, :category_id %></th>
  <td>
    <%= select :product_content, :category_id, options_for_select(MasterTable::Category::NAME.invert, :selected => category_id) %>
  </td>
</tr>
<tr>
  <th><%= label :product_content, :flavor, ProductContent.model_name.human %></th>
  <td id="flavor_select">
    <%= text_field :flavor, :name, :class => "span4"%>
    <%= number_field_tag :quantity, 0,{:min => 0, :class => "span1"} %>
    </div>
    <%= link_to "追加", "#", :id => "flavor_add", :class => "btn" %>
  </td>
</tr>
