<%-
providers ||= nil
-%>
<table id="product_info_table" class="table table-striped span6">
  <%- providers.each do |provider|-%>
    <tr>
      <td>
        <a href="<%= provider.url %>"><input type="button" class="btn btn-success span4 center" value="<%= provider.name %>で買う" /></a>
        <%= MasterTable::CountryJp::Name[provider.country_id] %>
        <%= MasterTable::Currency::View[provider.currency_id]%> <%= provider.price%>
      </td>
    </tr>
  <%- end -%>
</table>
