<%-
product ||= nil
providers ||= nil
-%>
<style>
#product_info_table{
  margin:5px auto;
}
</style>
<div id="product_info">
  <table id="product_info_table" class="table table-striped span5">
    <tr>
      <th ><%= label :product, :name%></th>
      <td><%= product.name %></td>
    </tr>
    <%- product_contents.each_with_index do |content, i|-%>
    <tr>
    <%- if i == 0-%>
      <th rowspan=<%= product_contents.length %>><%= label :product_content, ProductContent.model_name.human%></th>
    <%- end -%>
      <td><%= content.type.name %>&nbsp;<%= content.flavor.name%>&nbsp;&nbsp;<%= content.quantity%>個</td>
    </tr>
    <%- end -%>
  </table>
</div>
