<div id="shop_info">
  <table class="table table-striped span5">
    <tr>
      <th>所在地</th>
      <td><%= shop.country.name %><%= shop.state.try(:name) %><br /><%= shop.address %></td>
    </tr>
    <tr>
     <td colspan="2">
       <a  href="<%= shop.home_url %>"><input type="button" class="btn btn-info span2" value="ホームページ" /></a>
       <a href="<%= shop.online_url %>"><input type="button" class="btn btn-success span2" value="オンラインショップ" /></a>
     </td>
    </tr>
    <tr>
     <td colspan="2">
       <%= link_to "商品を登録する", {controller: :products, action: :new, shop_id: shop.id}, {class: "btn btn-warning span3", id: :new_product_btn } %>
     </td>
    </tr>
  </table>
</div>
