<p id="notice"><%= notice %></p>

<p>
  <b>Shop:</b>
  <%= @product.shop_id %>
</p>

<p>
  <b>Country:</b>
  <%= @product.country_id %>
</p>

<p>
  <b>Currency:</b>
  <%= @product.currency_id %>
</p>

<p>
  <b>Price:</b>
  <%= @product.price %>
</p>

<p>
  <b>Image path:</b>
  <%= @product.image_path %>
</p>


<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
