<p id="notice"><%= notice %></p>

<div id="product_main_image">
  <%- if @main_image.present? -%>
    <%= image_tag @main_image.product_image.thumb("500x400#").url%>
  <%- end -%>
</div>
<h1><%= @product.name %></h1>
<%# render :partial => 'product_review_box_main', :locals => {:review => @main_review}%>
<%= render :partial => 'product_info_box', :locals => {:product => @product, :product_contents => @product_contents} %>
<%= render :partial => 'provider_info_box', :locals => {:providers => @providers} %>
<%# render :partial => 'shop_info_box', :locals => {:shop => @shop}%>
<% if false%>
<div id="product_image">
  <%- if @review_images.present? -%>
    <% @review_images.each do |review_image| %>
      <%= image_tag review_image.review_image.thumb("100x100#").url%>
    <%- end -%>
  <%- end -%>
</div>
<%- end -%>
<%# render :partial => 'provider_backbone' %>
<%# render :partial => 'product_review_box', :locals => {:reviews => @reviews}%>
