<%= form_tag({:controller => "reviews", :action => "create"},{:multipart => true}) do  %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <label>評価</label>
  <select id="review_score" name="review[score]">
    <%= options_for_select((Review::SCORES), :selected => @review.score)%>
  </select>
  <div class="field">
     <label>画像</label>
     <input id="review_image" name="review_image" type="file" value="参照" />
  </div>
  <div class="field">
    <label>タイトル</label>
    <input id="review_subject" name="review[subject]"type="text" class="input-xxlarge" value="<%= @review.subject%>">
  </div>
  <div class="field">
      <label class="field" for="textarea">本文</label>
      <textarea class="input-xxlarge" id="comment" name="comment" rows="5"></textarea>
  </div>
  <input id="review_language_id" name="review[language_id]"type="hidden" value=<%=MasterTable::Language::JAPANESE%>>
  <input id="review_product_id" name="review[product_id]"type="hidden" value=<%=@product_id %>>
  <div class="actions">
    <%= submit_tag "保存", :class => "btn btn-success" %>
  </div>
<% end %>
