<%= form_tag({:controller => "reviews", :action => "create"},{:multipart => true}) do  %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= label :review, :score%>
  <%= range_field :review, :score, :max => 5, :min => 0, :step => 0.5, :size => 10, :value => @review.score%>
  <div class="field">
    <%= label_tag :review_image, ReviewImage.model_name.human%>
    <%= file_field_tag :review_image%> 
  </div>
  <div class="field">
    <%= label :review, :subject %>
    <%= text_field :review, :subject, :class => 'input-xxlarge', :value => @review.subject%>
  </div>
  <div class="field">
    <%= label_tag :comment, ReviewContent.model_name.human %>
    <%= text_area_tag :comment, @review.content.try(:comment), :class => 'input-xxlarge'%>
  </div>
  <%= hidden_field :review, :language_id, :value => MasterTable::Language::Options[I18n.locale]%>
  <%= hidden_field :review, :product_id, :value => @product_id%>
  <div class="actions">
    <%= submit_tag "保存", :class => "btn btn-success" %>
  </div>
<% end %>
