<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @review.user_id %>
</p>

<p>
  <b>Product:</b>
  <%= @review.product_id %>
</p>

<p>
  <b>Score:</b>
  <%= @review.score %>
</p>

<p>
  <b>Country:</b>
  <%= @review.country_id %>
</p>

<p>
  <b>Language:</b>
  <%= @review.language_id %>
</p>

<p>
  <b>Subject:</b>
  <%= @review.subject %>
</p>


<%= link_to 'Edit', edit_review_path(@review.id) %>
<%= link_to 'Back', reviews_path %>
